{% extends "dashboard/base.html" %}

{% block content %}
<div class="p-6">
  <h1 class="text-2xl font-bold">Detalle de Receta</h1>
  <ul class="mt-4">
    <li><strong>Factura:</strong> {{ receta.referencia_factura }}</li>
    <li><strong>Referente:</strong> {{ receta.referente_receta }}</li>
    <li><strong>Producto:</strong> {{ receta.id_producto.nombre }}</li>
    <li><strong>Usuario Venta:</strong> {{ receta.id_usuario_venta.nombre }}</li>
    <li><strong>Fecha:</strong> {{ receta.fecha_venta }}</li>
  </ul>
</div>
{% endblock %}