<div class="saif-modal">
  <div class="modal-header bg-info text-white">
    <h5 class="modal-title"><i class="bi bi-search"></i> Consultar Laboratorio</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
  </div>

  <div class="modal-body">
    <p><strong>ID:</strong> {{ lab.id }}</p>
    <p><strong>Nombre:</strong> {{ lab.nombre_laboratorio }}</p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
  </div>
</div>