{% extends "dashboard/base.html" %}
{% load static %}

{% block title %}Mantenimiento · SAIF{% endblock %}

{% block content %}
<section class="p-6 md:p-8">
  <h1 class="text-2xl md:text-3xl font-extrabold text-center mb-8">
    Módulos de Mantenimiento
  </h1>

  <div class="grid gap-8 md:grid-cols-3">
    <!-- Usuarios -->
    <a href="{% url 'mantenimiento:mantenimiento_usuarios:lista' %}" class="group border rounded-xl p-6 text-center hover:shadow-lg transition">
      <div class="mx-auto w-16 h-16 mb-3">
       
        <i class="bi bi-people text-4xl text-slate-800 group-hover:text-emerald-700 transition"></i>
      </div>
      <div class="font-semibold">Usuarios</div>
    </a>

    <!-- Roles -->
    <a href="{% url 'mantenimiento:mantenimiento_roles:lista' %}" class="group border rounded-xl p-6 text-center hover:shadow-lg transition">
      <div class="mx-auto w-16 h-16 mb-3">
        <i class="bi bi-person-badge text-4xl text-emerald-700 text-slate-800 group-hover:text-emerald-700 transition "></i>
      </div>
      <div class="font-semibold">Roles</div>
    </a>

    <!-- Laboratorios -->
    <a href="{% url 'laboratorios:lista' %}" class="group border rounded-xl p-6 text-center hover:shadow-lg transition">
      <div class="mx-auto w-16 h-16 mb-3">
        <i class="bi bi-building text-4xl text-emerald-700 text-slate-800 group-hover:text-emerald-700 transition"></i>
      </div>
      <div class="font-semibold">Laboratorios</div>
    </a>
    
    <!-- Presentaciones -->
    <a href="{% url 'mantenimiento:mantenimiento_presentaciones:lista' %}" class="group border rounded-xl p-6 text-center hover:shadow-lg transition">
      <div class="mx-auto w-16 h-16 mb-3">
        <i class="bi bi-box text-4xl text-emerald-700 text-slate-800 group-hover:text-emerald-700 transition"></i>
      </div>
      <div class="font-semibold">Presentaciones</div>
    </a>

    <!-- Unidades de medida -->
    <a href="{% url 'mantenimiento:mantenimiento_unidadesmedida:lista' %}" class="group border rounded-xl p-6 text-center hover:shadow-lg transition">
      <div class="mx-auto w-16 h-16 mb-3">
        <i class="bi bi-rulers text-4xl text-emerald-700 text-slate-800 group-hover:text-emerald-700 transition"></i>
      </div>
      <div class="font-semibold">Unidades de Medida</div>
    </a>

    <!-- Condiciones de almacenamiento -->
    <a href="{% url 'mantenimiento:mantenimiento_condicionesalmacenamiento:lista' %}" class="group border rounded-xl p-6 text-center hover:shadow-lg transition">
      <div class="mx-auto w-16 h-16 mb-3">
        <i class="bi bi-thermometer-snow text-4xl text-emerald-700 text-slate-800 group-hover:text-emerald-700 transition"></i>
      </div>
      <div class="font-semibold">Condiciones de Almacenamiento</div>
    </a>
  </div>
</section>
{% endblock %}
