<div class="modal-header">
  <h5 class="modal-title">{{ titulo }}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<form method="post" id="form-eliminar" action="{{ action }}">
  <div class="modal-body">
    {% csrf_token %}
    <p>¿Seguro que deseas eliminar a <strong>{{ obj.nombre }} {{ obj.apellido }}</strong>?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
    <button type="submit" class="btn btn-danger">Eliminar</button>
  </div>
</form>
